@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ margin: 0;
 padding: 0;
 font-size: 16px;
}



:root{
    --primary_color:#CA88B6;
    --secondary_color:#FAE6F4;
    --text:white;
    --secondary_text:#FAE6F4;
    --btn_color:#773E6F;
    --shadow1:#AA0D5E;
}



body{
    max-width:100vw;
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
     -webkit-tap-highlight-color: transparent;
     background-color: var(--secondary_color);
    
}
/* hero Section design */
.heroSection{
    background-color: var(--primary_color);
    max-width: 100vw;
    min-height:50vh;
    background-image: url(../images/hero_section_image_mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    background-position:  right bottom ;
}

.heroText{
    margin-left:4vw;
    padding-top: 4vh;
    width: 50vw;
    font-size: 3rem;
    font-weight: 500;
    color:var(--text);
    pointer-events: none;
    user-select: none;
    --webkit-user-select:none;
}



/* Service Section Design */

.serviceSection{
    padding:2vh 2vw;
    margin-top: 0;
    background-color: var(--secondary_color);
    max-width:100vw ;
    display: flex;
    gap:2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceSection>h1{
    font-size: 28px;
    color:var(--btn_color);
}
.serviceContainer{
    max-width: 100vw;
    display: flex;
   
    gap:30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
     
    
}

.round{
    width:100px;
    height:100px;
    border:2px solid var(--btn_color);
    border-radius: 50%;
    
}
.round:hover{
    box-shadow: 4px 4px 6px var(--shadow1);
    /* border:3px solid var(--btn_color) */
    position: relative;
    top:-10px;
    transition: ease-in-out;
}
.serviceText{
    
    
    color:var(--btn_color);
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding:0px auto;
    text-align: center;
    justify-content: center;
}
.btn{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

/* why choose us section design */
.section3{
    user-select: none;
    -webkit-user-select:none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.section3>h1{
    text-align: center;
    font-size: 28px;
    color: var(--btn_color);
}
.card_container{
    display: flex;
    justify-content: space-evenly;
    gap:4vh;
    flex-wrap: wrap;
    padding : 4vh 4vw;

}
.card{
    user-select: none;
    position: relative;
    
    cursor: pointer;
    width:400px;
    height:300px;
    background: var(--primary_color);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 6px 12px 20px var(--shadow1);
    
}
.card:hover{
    top:-10px;
    transition: all 5ms ease-out;
    
}
.desc{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:15px;
}
.desc>.heading{
    font-size: 28px;
    color:white;
    font-weight: 600;
   
}
.desc>p{
    font-family: poppins;
    font-weight: 500;
    color:white;
    opacity: 0.7;
    font-size: 16px;
}
.card_image{
    width:55%;
    height:100%;
    background: #000;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 90% 100%;
    position: absolute;
    object-fit: cover;
    right:-20%;
    background-size: cover;
    background-position: -80px;
    background-repeat: no-repeat;
   
}
.c1>.card_image{
    background-image: url(../images/card_images/makeup-artist-applying-makeup-by-brush.jpg);
}
.c2>.card_image{
    background-image: url(../images/card_images/products.jpg);
}
.c3>.card_image{
    background-image: url(../images/card_images/hygine.jpg);
     background-position: -150px;
}
.c4>.card_image{
    background-image: url(../images/card_images/home.jpg);
}

/* testimonial section design */

.testimonial_section{
    max-width:100vw;
    /* min-height: 50vh; */
    background-color: var(--secondary_color);
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;


}

.testimonial_section>h1{
    font-size: 28px;
    font-weight: 600;
    color:var(--btn_color);
    max-width: 80vw;
    text-align: center;
    
}
.testimonial_container_1{
    /* position: absolute; */
    margin-top:2vh;
    max-width:100vw;
    box-sizing: border-box;
    overflow: hidden;
  
    /* background-color: #fff; */
    display: flex;
  
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    

}
.cardslides{
    margin:  4vh 0vw;
    width:700px;
    min-height:350px;
    display: flex;
    flex-wrap: wrap;
   
    display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: var(--primary_color);
   border-radius: 16px;
   gap: 10px;
   display: none;
   box-shadow: 6px 12px 12px var(--shadow1);
}
.customer_info{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.customerImage{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 2px solid var(--btn_color)
} 
.cname{
    font-size:28px;
    font-weight: 600;
    color:var(--shadow1);
    text-align: center;
}
.review_text{
    font-size: 18px;
    font-weight: 400;
   text-align: center;
    color:black;
    padding:20px;
}
.reviewStar{
    display: flex;
    justify-content: center;
    gap:20px;
    padding:20px;
    background-color: whitesmoke;
    margin:  20px;
    border-radius: 16px;
}
.reviewStar>img{
    width:20px;
}
.reviewSection{
    width:50%;
    height:90%;
    background-color: var(--text);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin:10px;

}
.prev,.next{
    width:50px;
    height:50px;
    background-color: #773E6F;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    opacity: 0.8;
}

.prev:hover,.next:hover{
    opacity: 1;
}
.prev{
    position: relative;
    left:22px;
}
.next{
    position: relative;
    right:22px;
}
.dot_container{
    margin-top: -100px;
    display: flex;
    justify-content: center;
    margin: 10px;
    gap:10px;
    /* position: absolute; */
    bottom:20px;
    padding-bottom: 4vh;
    align-items: center;
    box-sizing: border-box;
}
.dot{
   
    width:10px;
    height:10px;
    background-color: var(--primary_color);
    border-radius: 50%;
}
.activeDot{
    width:15px;
    height:15px;
    background-color:var(--btn_color);
}

.display{
    display:flex;
}
.fade{
    animation-name:fade;
    animation-duration: 1.5s;
}

/* footer section design */



@keyframes fade{
    0%{
        transform: translateX(100%);
        opacity:0;
    }
    100%{
        transform: translateX((0%));
      
    }

}

@media(max-width:900px){

    /* hero section for small screen */

    .heroSection{
       
        background-size: 60vw;
        
        background-position: bottom right;
    }
    .heroText{
        width: 70vw;
        font-size: 2rem;
        line-height: 3rem ;
        font-weight: 600;
        margin-left: 7vw;
    }
    .serviceSection>h1{
        font-size: 22px;
    }
    .serviceContainer>.btn{
        font-size: 16px;
    }

    .section3>h1{
        font-size: 22px;
    }
    .card>.desc>.heading{
        font-size: 22px;
    }
    .card>.desc>.para{
        font-size: 14px;
    }
    .testimonial_section>h1{
        font-size: 22px;
    }
    .callBtn>p{
        font-size: 16px;
        font-weight: 700;

    }
    .callBtn{
        margin-top:6vh;
        margin-left: 7vw;
        width:200px;
        margin-bottom: 2vh;
    }
    .testimonial_container_1{
        max-width:100vw;
    }

    /* making the testiomonial side responsive */
    .cardslides{
        width:80vw;
        /* background-color: #fff; */

        
    }
    .customer_info{
        margin-top: 20px;
    }
    .cname{
        font-size: 22px;
    }
    .review_text{
        font-size: 16px;
    }
    .reviewSection{
        width:90%;
        margin-bottom: 20px;
    }
    .prev{
        left: 20px;
    }
    .next{
        right:20px
    }


    
}